*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.contenedor{
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    "header menu menu"
    "widget-1 widget-2 widget-3"
    "main main main"
    "widget-4 widget-5 widget-6"
    "footer footer footer";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 200px 1fr 100px 1fr 20%;
}
/*estilos header*/
header{
    grid-area: header;
    background-color: blue;
}
img{
    width: 350px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
li{
    float: left;
    list-style: none;
    padding: 30px;
}
nav{
    float: right;
    margin-top: 65px;
    align-items: flex-start;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    color: whitesmoke;
}
li:hover a{
    color: red;
}
nav{
    grid-area: menu;
    background-color: blue;
}
footer{
    grid-area: footer;
    background-color: blue;
}
main{
    grid-area: main;
    background-color: brown;
}
.widget-1{
    grid-area: widget-1;
    background-color: aqua;
}
.widget-2{
    grid-area: widget-2;
    background-color: aqua;
}
.widget-3{
    grid-area: widget-3;
    background-color: aqua;
}
.widget-4{
    grid-area: widget-4;
    background-color: aqua;
}
.widget-5{
    grid-area: widget-5;
    background-color: aqua;
}
.widget-6{
    grid-area: widget-6;
    background-color: aqua;
}

@media (min-width: 481px) and (max-width: 1023px) {
    .contenedor{
        background-color: black;
        grid-template-areas: 
    "header header"
    "menu menu"
    "widget-1 widget-2"
    "widget-3 widget-4"
    "main main"
    "widget-5 widget-6"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 150px 1fr 1fr 100px 1fr 20%;
    }
}

@media (max-width: 480px) {
    .contenedor{
        background-color:yellowgreen;
        grid-template-areas: 
    "header"
    "menu"
    "widget-1"
    "widget-2"
    "widget-3"
    "main"
    "widget-4"
    "widget-5"
    "widget-6"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 200px 300px 1fr 1fr 1fr 200px 1fr 1fr 20%;
    }
}